html, body {
    padding: 0;
    margin: 0;
}
.main-header {
    height: 100px;
    background-color: #0088FF;
    margin-bottom: 10px;
}
.main-header h1 {
    margin: 0;
    text-align: center;
    padding: 20px 0;
}
.main-container {
    padding: 20px;
}
.ratings-table {
    width: 100%;
    border: 1px solid #333;
    font-size: 30px;
    border-collapse: collapse;
}
.ratings-table th {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
}
.ratings-table th,
.ratings-table td {
    border: 1px solid #333;
    padding: 3px 5px;
}
.box {
    display: none;
    font-size: 30px;
    padding: 10px;
    border: 1px solid #333;
    vertical-align: top;
}
.add-rating-title {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    padding: 5px 10px;
    margin-bottom: 5px;
}
.cart-number-input {
    font-size: 30px;
}
.big-btn {
    width: 100%;
    font-size: 30px;
    margin: 20px 0 0 0;
}
svg {
    position: relative;
    top: 5px;
}
input[type=radio] {
    position: relative;
    top: -10px;
}
